
.box_activiter{
    
display: flex;

height: 100%;

width: 142%;

}

@-moz-document url-prefix(){
.Activiter{

    position: relative;
    left: 2%;
    margin-top: 5%;
    height: 61vh;
    width: 97%;
}
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {

    .Activiter{

        position: relative;
        left: 4%;
        margin-top: 5%;
        height: 61vh;
        width: 97%;
    }

}

.div_activer_right{

    width: 25%;
    margin-right: 3%;
    border-radius: 30px;

}

.div_image_port{

    height: 90%;
    border-top-left-radius: 29px;
border-top-right-radius: 29px;

}

.div_activer_left{

    width: 25%;


}

.img_activiter{

    border-top-left-radius: 30px;
border-top-right-radius: 30px;

width: 100%;
height: 100%;

}

.img_fort{

    height: 89%;
}

.titre_activiter{

    font-weight: bold;
    position: relative;
    top: -5%;


}

.text_bas_activiter{
    position: relative;
    top: 3%;
    left: 6%;
    font-weight: bold;

}

.text_bas_activiter:hover{
    position: relative;
    top: 3%;
    left: 6%;
    font-weight: bold;
    color:blue;

}

.card_fort{

    height: 54%;
    box-shadow: 0px 0px 16px grey;
    border: 1px solid white;
    border-radius: 31px;

}

.text_fort{

    position: relative;
    top: -2%;
    left: 8%;
    font-weight: bold;

}

.text_fort:hover{

    position: relative;
    top: -2%;
    left: 8%;
    font-weight: bold;
    color:blue;

}

.card_frioul{

    margin-top: 10%;
    height: 38%;
    box-shadow: 0px 0px 16px grey;
    border: 1px solid white;
   border-radius: 31px;


}

.img_frioul{

    height: 87%;

}

.text_frioul{

    position: relative;
    top: -8%;
    left: 5%;
    font-weight: bold;
}

.text_frioul:hover{

    position: relative;
    top: -8%;
    left: 5%;
    font-weight: bold;
    color:blue;
}


.card_dame{
box-shadow: 0px 0px 16px grey;
height: 46%;
margin-bottom: 12%;
border-radius: 31px;

}

.card_parc{

    box-shadow: 0px 0px 16px grey;
    height: 46%;
    border-radius: 31px;

}

.text_dame{

    position: relative;
left: 23px;
top: -13px;
font-weight: bold;

}

.text_dame:hover{

    position: relative;
left: 23px;
top: -13px;
font-weight: bold;
color:blue;

}

.text_parc{

    position: relative;
left: 23px;
top: -13px;
font-weight: bold;

}

.text_parc:hover{

    position: relative;
left: 23px;
top: -13px;
font-weight: bold;
color:blue;

}