footer{

  background-color: #F2F2F2;

  margin-top: 4%;
  height: 20vh;
width: 100%;

display: flex;

  }

  .div_1_footer{

    position: relative;
  left: 3%;

  }

  .div_2_footer{

    position: relative;
left: 26%;

  }
  
  .div_3_footer{

  position: relative;
   left: 42%;

  }
  