.afficher_plus_hergement{

  position: relative;
  top: -7%;
  left: 4%;
  font-weight: bold;

}

.padding_hergement{

    padding-top: 5%;
    padding-bottom: 3%;
    
  
  
  }
  
  .hebergement{
  
    background-color: #F2F2F2;
    width: 160%;
    margin-left: 1%;
    border: 1px solid #F2F2F2;
    border-radius: 28px;
   margin-right: 1%;
  
  }
  
  .titre_herbergement{
  
    position: relative;
  top: 5%;
  left: 5%;
  font-weight: bold;
  font-size: 1.3em;
  
  }

  
  .card_hergement{

    display: flex;
    
    height: 76vh;
    
    }

    .bordure_card_hergement{

       
        width: 28%;
        border: 1px solid white;
        border-radius: 20px 20px;
        margin-left: 4%;
        margin-bottom: 5%;
      
      
      }
      
      .padding_card_hergement{
      
      padding: 2%;
      
      }
      
      .box_card_hergement{
      
      display: flex;
      
      }
      
      .height_image_hergement{

        height:14vh;
        
        }
        
        .image_herbergement{
        
          border: 1px solid white;
        
          border-top-left-radius: 20px 20px;
          border-top-right-radius: 20px 20px;
        
          height:100%; width:100%;
        
        }
        
        .text_herbergement{
        
          padding-top: 2%;  
          padding-left: 2%;
        
          }
        
          .name_herbergement{
            
            margin-bottom: 3%;
        
          }
        
          .nuit_hebergement{
        
            margin-bottom: 2%;
        
          }
        
         
        .text_herbergement:hover{
        
        
        color:blue;
        
        }
        
        .star_blue{

            color:blue;
            
            
            }
            
            .star_grey{
            
            color:grey;
            
            }        