
.div_nav_bar{
  display: flex;

}

.nav_bar{

  background-color: #0065fc;
width: 137px;
position: relative;
left: 11%;
height: 3px;

}

.nav_box{

  width: 100%;

}

.div_nav_box{

width: 44%;

}

.div_nav{

  width:24%;

  position: absolute;
top: 0%;
left:74%;  


}
