
#hebergement ,#activite, #inscrire{

  height: 33%;
position: relative;

padding-top: 5%;
width: 18vh;
padding-left: 4%;


}

#hebergement:hover , #activite:hover{

  border-top: 1px solid blue;

  color:blue;

}



#link_hebergement:hover , #link_activiter:hover{

  color:blue;

}




#inscrire{

  color:#0065fc;

}

.div_nav_bar{
  display: flex;

}

#nav_bar_1{

  background-color: #0065fc;
width: 137px;
position: relative;
left: 11%;
height: 3px;
display: none;

}

.nav_box{
  width: 36%;
  position: absolute;
  left: 62%;
  top: 0%;
}

.div_nav_box{

width: 44%;

}

.div_nav{

  width:24%;

  position: absolute;
top: 0%;
left:74%;  


}
