body{
font-family: Raleway;
}

img{

  object-fit: cover;
}

.padding_hergement{

  padding-top: 5%;
  padding-bottom: 3%;


}

.hebergement{

  background-color: #F2F2F2;

  width: 160%;

  margin-left: 3%;


}


.populaire{

  background-color: #F2F2F2;

  width: 100%;

  margin-left: 1%;

 margin-right: 3%;

padding-bottom: 2%;

}

.card_hergement{

display: flex;

}


.bordure_card_hergement{

  background-color: white;
  width: 30%;
  border: 1px solid white;
  border-radius: 20px 20px;
  margin-left: 2%;
  margin-bottom: 5%;


}

.padding_card_hergement{

padding: 2%;

}

.box_card_hergement{

display: flex;



}
.height_image_hergement{

height:14vh;

}

.image_herbergement{

  border: 1px solid white;

  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;

  height:100%; width:100%;

}


.text_herbergement{

padding-top: 4%; padding-bottom: 3%; margin-left:2%;

}

.flex{

display: flex;

}

.star_blue{

color:blue;


}

.star_grey{

color:grey;

}
